.card.swiper-slide {
    // display: none;
    max-width: 300px;
    width: 100%;
    height: auto;
    min-width: 285px;
    min-height: 387px;

    padding: 10px;
    border-right: 0.5px solid var(--linii);
    border-bottom: 0.5px solid var(--linii);
    @include mediaMobile {
        padding: 5px;
    }
}

.card.favourite .icon--heart-blue {
    fill: var(--biryuza);
    stroke: none;
}

.card__inner {
    position: relative;
    padding: 7px 10px 12px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--seryy);
}

.card:nth-child(4n + 1) {
    padding-left: 0;
    @media (max-width: 1240px) {
        padding-left: 10px;
    }
    @include mediaMobile {
        padding: 5px;
    }
}

.card:nth-child(1) {
    @media (max-width: 1240px) {
        padding-left: 0;
    }
    @include mediaMobile {
        padding: 5px;
    }
}

.card:last-child {
    @media (max-width: 1240px) {
        padding-right: 0;
        border-right: 0;
    }
    @include mediaTablet {
        padding-right: 10px;
    }
    @include mediaMobile {
        border: none;
        padding: 5px;
    }
}

.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3),
.card:nth-child(4) {
    // border-top: 0.50px solid var(--linii);
    border-bottom: 0.5px solid var(--linii);
    @include mediaMobile {
        border: none;
    }
}

.card:nth-child(4n) {
    padding-right: 0;
    border-right: none;
    @media (max-width: 1240px) {
        padding-right: 10px;
        border-right: 0.5px solid var(--linii);
    }
    @include mediaMobile {
        border: none;
        padding: 5px;
    }
}

.card.swiper-slide {
    @include mediaMobile {
        border: none;
    }
}

.show {
    display: block;
}

.card__image {
    margin: 0 auto;
    width: fit-content;
    height: 275px;
}

.card__title {
    display: block;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    &:hover {
        color: #000;
    }
}

.card__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card__price {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card__sale {
    padding: 2px 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--belyy);
    border-radius: 3px;
    background: #d44848;
}

.card__old-price {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: line-through;
    color: var(--linii);
}

.card__new-price {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}

.card__favourites-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.card__cart-button {
    width: 20px;
    height: 20px;
}

.card.link-to-all {
    a {
        margin-top: auto;
        margin-bottom: auto;
        padding: 12px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;
        font-family: var(--third-family);
        font-weight: 600;
        font-size: 25px;
        line-height: 94%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: var(--belyy);
        background: var(--biryuza);
    }
    @include mediaMobile {
        display: none;
    }
}

.card.card-image {
    img {
        object-fit: cover;
        max-width: 300px;
        width: 100%;
        height: 100%;
    }
}
