.counter {
    max-width: 178px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid var(--linii);
    @include mediaLaptop {
        max-width: 107px;
    }
}

.counter .counter-number,
.counter .counter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    text-transform: uppercase;
    text-align: center;
    color: var(--belyy);
}
